body{
    background-position: static;
    background-image: url("/assets/omfgdogs.gif");
    background-attachment:fixed;
    background-repeat: repeat;
}

#credit{
    position: float;
    bottom-margin: 10px;
    right-margin:10px;
}
