body{
    background-position: top left;
    background-image: url("assets/omfgdogs.gif");
    background-attachment:fixed;
    background-repeat: repeat;
}

#credit{
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: arial;
    font-weight:bolder;
    font-size: 20px;
    background-color: #ffffff;
    text-decoration:none;
}